#
node_modules
web/.pnp
.pnp.js

# testing
web/coverage

# next.js
web/.next/
web/out/

# production
web/build
packages/**/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log

# local env files
.env*
!.env.sample

# vercel
.vercel

# database
*.sqlite